*.code-workspace
.idea
*.iml
binaries/**
**/data
**/raft/*
!**/raft/.gitkeep
**/test/data
**/releases/*
**/binaries
.DS_Store
**/.DS_Store
**/helper/*.txt
**/helper/SHA256SUM
**/vault-ethereum
dist
**/solidity
**/solidity/*
**/modules
README.md
config/README.md
config/operator.json
config/unseal.json
config/root.crt
config/root.key
config/root.srl
config/vault.cnf
config/vault.crt
config/vault.csr
config/vault.key